@charset "UTF-8";
#sidebar-btn:focus {
    box-shadow: none; /* 포커스 시 그림자 제거 */
    outline: none; /* 아웃라인 제거 */
    border-color: transparent; /* 테두리 색상 제거 */
}
#header-search-input:focus {
	box-shadow: none;
    outline: none;
    border-color: transparent;
}
#ytd-btn {
	width: 350px;
	border: 0;
	border-bottom: 1px solid lightgray;
	transition: all 0.2s;
}
#ytd-btn:focus {
	outline: none;
	border-bottom: 1px solid black;
	transition: all 0.2s;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.btn:hover {
	text-decoration: none;
}
textarea {
	resize: none;
}
#notFocus:focus {
	outline: none;
	box-shadow: none;
}