<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.d.model.mapper.BlogMemberMapper">
	
	<insert id="insertBlogMember" parameterType="com.e.d.model.vo.BlogMemberVo">
	    INSERT INTO blogmember (username, useremail, userpassword, profiletext)
	    VALUES (#{username}, #{useremail}, #{userpassword}, <if test="profiletext != null">#{profiletext}</if>)
	</insert>

	<select id="selectLoginMember" parameterType="com.e.d.model.vo.BlogMemberVo" resultType="com.e.d.model.vo.BlogMemberVo">
		SELECT * FROM blogmember WHERE username = #{username} AND userpassword = #{userpassword}
	</select>
	
	<select id="selectAllMemberInfo" parameterType="String" resultType="com.e.d.model.vo.BlogMemberVo">
		SELECT * FROM blogmember WHERE username = #{username}
	</select>
	
	<update id="updateMemberInfo" parameterType="com.e.d.model.vo.BlogMemberVo">
        UPDATE blogmember <set>
            <if test="username != null"> username = #{username}, </if>
            <if test="userpassword != null"> userpassword = #{userpassword}, </if>
            <if test="profiletext != null"> profiletext = #{profiletext}, </if>
		</set>
        WHERE userId = #{userId}
    </update>
    
    <delete id="deleteBlogmember" parameterType="int">
    	DELETE FROM blogmember WHERE userId = #{userId}
    </delete>
	
</mapper>